<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- The first thing in any HTML file should be the charset -->
    <meta charset="utf-8" />
    <!-- Some hefty description -->
    <meta name="description" content="The superfast way to custom elements." />

    <!-- Color for theme -->
    <meta name="theme-color" content="#343a40" />

    <!-- Make the page mobile compatible -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Allow installing the app to the homescreen -->
    <meta name="mobile-web-app-capable" content="yes" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <!-- Display a message if JS has been disabled on the browser. -->
    <noscript
      >If you're seeing this message, that means
      <strong>JavaScript has been disabled on your browser</strong>, please
      <strong>enable JS</strong> to make this app work.</noscript
    >

    <!-- Your awesome components go right here -->
    <div id="root">
      <div style="width: 88%" class="content float-left px-3 pt-3">
        <%= htmlWebpackPlugin.options.bodyHTML %>
      </div>
      <div
        style="right: 0; width: 12%"
        class="toc position-fixed pt-3 d-none d-md-block"
      ></div>
    </div>
    <!--Basic style resetting which is needed-->
    <style>
      html,
      body {
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .is-active-link::before {
        background-color: #343a40 !important;
      }
      pre[class*="language-"] {
        font-family: "oml" !important;
      }
    </style>
  </body>
</html>
