.hero-head {
  background: rgb(124, 124, 124);
  background: radial-gradient(
    at 0% 10%,
    rgba(124, 124, 124, 1) 0%,
    rgba(80, 88, 94, 1) 20%,
    rgba(6, 28, 47, 1) 100%
  );
  background-size: cover;
  color: white;
}
